Source: crowdos-config-n950-n9
Section: admin
Priority: important
Maintainer: Mohammed Sameer <msameer@foolab.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.6
Vcs-Git: https://github.com/crowdos/crowdos-config-n950-n9.git
Vcs-Browser: https://github.com/crowdos/crowdos-config-n950-n9

Package: crowdos-config-n950-n9
Provides: crowdos-config
Architecture: all
Depends: ${misc:Depends}, linux-image-n950-n9
Description: Basic configurtion for N9/50
 Basic files and configuration needed for N9/50
